server {
  listen 80;
  server_name your_domain.com;

  # Redirect all HTTP traffic to HTTPS
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  server_name your_domain.com;

  # SSL configuration is handled by SWAG

  location /tulokset {
    proxy_pass http://kipa/kipa/kierikki/tulosta/tuloste/sarja/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}
